#calcContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    flex-direction: column;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    
}

#buttonContainer{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#numbersAndOperatorsContainer{
    display: flex;
    /* border-color: red;
    border-width: 2px;
    border-style: solid; */
}

#numberContainer{
    display: flex;
    flex-direction: column;
    /* border-color: yellow;
    border-width: 2px;
    border-style: solid; */
    flex: 1;
}

.outputWindow{
    display: flex;
    flex: 1 1 0;
    justify-content: right;
    align-items: flex-end;
    /* border-color: purple;
    border-style: solid;
    border-width: 3px; */
}

.numberRow{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    /* border-color: blue;
    border-width: 1px;
    border-style: solid; */
    flex: 1 1 0;
}

#operatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    
}

.operatorValue{
    display: flex;
    flex-direction: column;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
}


button{
    width: 50px;
    height: 50px;
}

#lastRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#equals{
    width: auto;
    flex-grow: 1;    
    /* width: 150px;
    height: 50px; */

}

